@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* Default Resert */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Times, serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0eeee;
}

.container {
    text-align: center;
    width: 100%;
    padding: 1.2rem;

}

h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px; 
}

.list {
    background-color: #e3e4e8;
    width: 30%;
    min-height: 400px;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.list h2 {
    color: #555;
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    background-color: #f4f4f4;
    color: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 5px 0px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);    
}

.list.over {
    background-color: #d1d3d8;
}

@media (max-width: 768px) {
    .board {
        flex-direction: column;
        align-items: center;
    }

    .list {
        width: 80%;
        margin-bottom: 20px;
    }
}

