@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";  
}

body {
    background: linear-gradient(135deg, #83a8df, #d2e2c3, #ffeaab, #ffe0ab, #ffabd5);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}

.container {
    background: rgba(255,255,255,0.4);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    border-top: 5px solid rgba(255,255,255,0.5);
}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    position: relative;
    padding-bottom: 0.5rem;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}

#generate-btn i {
    margin-right: 5px;
}

#generate-btn {
    background: linear-gradient(90deg, #667eea, #764ba2);
    padding: 10px 15px ;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease;
}

#generate-btn:hover {
    transform:translateY(-3px);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

#generate-btn:active  {
    transform: translateY(0);
}

.palette-container {
    display: grid;
    gap: 1rem;   
    grid-template-columns: repeat(auto-fit, minmax(130px,1fr)); 
}

.color-box {
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    transition: all 0.2s;
}

.color-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.1);
}

.color {
    height: 120px;
    cursor: pointer;
}

.color-info {
    background-color: rgba(255,255,255,1);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.hex-value {
    font-weight: 500;
    letter-spacing: 1px;
    color: #444;
    cursor: pointer;
}

.copy-btn {
    color: rgb(150,150,150);
    transition: color 0.2s;
    
}

.copy-btn:hover {
    color: rgb(100, 180, 255);
}

@media (max-width: 768px) {
    .palette-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}