/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================= Body settings ======================== */
body {
    background: rgb(237, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background: rgba(255,255,255,0.1);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-top: 4px solid rgba(255,255,255,0.5);
    border-left: 4px solid rgba(255,255,255,0.5);
    width: 100%;    
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

/* =========================== Screens ========================== */

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

/* ========================= START SCREEN ======================= */

#start-screen h1 {
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.quiz-header {
    margin-bottom: 1rem;
}

/* ========================= QUIZ SCREEN ========================= */

#question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #c8c8c8;
    border-color: #dac0ae;
}

.answer-btn.correct {
    background-color: rgb(204, 230, 209);
    border-color: rgb(137, 218, 152);
    color: rgb(33, 131, 51);
}

.answer-btn.incorrect {
    background-color: rgb(222, 201, 201);
    border-color: rgb(218, 137, 137);
    color: rgb(189, 50, 50);
}

.progress-bar {
    height: 10px;
    background-color: rgba(255,255,255,0.5) ;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #d76920;
    width: 0%;
    transition: width 0.3s ease;
}

/* =================== RESULT SCREEN ======================= */

#result-screen h1 {
    color: #d76920;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.result-info {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.result-info p {
    font-size: 1.2rem;
    color: #333;
    margin: 10px;
}

#result-message {
    font-size: 1.5rem;
    font-weight: 700;
    color: #d76920;
    margin-bottom: 20px;
}

button {
    background-color: #d76920;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #be5a16;
}

/* =+=+=+=+=+=+=+=+=+=+ RESPONSIVE DESIGN =+=+=+=+=+=+=+=+=+=+ */

@media (max-width: 500px) {
    .screen {
        padding: 1rem;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    #start-screen p{
        font-size: 1rem;
    }

    #question-text {
        font-size: 1.2rem;
    }

    .quiz-info p{
        font-size: 0.9rem;
    }

    .answers-container{
        margin-bottom: 15px;
    }

    #result-screen h1 {
    font-size: 2rem;
    }

    .result-info p{
        font-size: 1.1rem;
    }

    #result-message {
        font-size: 1.2rem;
    }

    button{
        padding: 10px;
    }

}